In [14]:
import pandas as pd
import numpy as np

In [15]:
df=pd.read_excel('../data/ecom.xlsx',sheet_name='E Comm')

In [16]:
df

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,50001,1,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.0,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,159.93
1,50002,1,NaN,Phone,1,8.0,UPI,Male,3.0,4,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,120.90
2,50003,1,NaN,Phone,1,30.0,Debit Card,Male,2.0,4,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120.28
3,50004,1,0.0,Phone,3,15.0,Debit Card,Male,2.0,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134.07
4,50005,1,0.0,Phone,1,12.0,CC,Male,NaN,3,Mobile,5,Single,3,0,11.0,1.0,1.0,3.0,129.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625,55626,0,10.0,Computer,1,30.0,Credit Card,Male,3.0,2,Laptop & Accessory,1,Married,6,0,18.0,1.0,2.0,4.0,150.71
5626,55627,0,13.0,Mobile Phone,1,13.0,Credit Card,Male,3.0,5,Fashion,5,Married,6,0,16.0,1.0,2.0,NaN,224.91
5627,55628,0,1.0,Mobile Phone,1,11.0,Debit Card,Male,3.0,2,Laptop & Accessory,4,Married,3,1,21.0,1.0,2.0,4.0,186.42
5628,55629,0,23.0,Computer,3,9.0,Credit Card,Male,4.0,5,Laptop & Accessory,4,Married,4,0,15.0,2.0,2.0,9.0,178.90
5629,55630,0,8.0,Mobile Phone,1,15.0,Credit Card,Male,3.0,2,Laptop & Accessory,3,Married,4,0,13.0,2.0,2.0,3.0,169.04

In [17]:
df.columns

Index(['CustomerID', 'Churn', 'Tenure', 'PreferredLoginDevice', 'CityTier',
       'WarehouseToHome', 'PreferredPaymentMode', 'Gender', 'HourSpendOnApp',
       'NumberOfDeviceRegistered', 'PreferedOrderCat', 'SatisfactionScore',
       'MaritalStatus', 'NumberOfAddress', 'Complain',
       'OrderAmountHikeFromlastYear', 'CouponUsed', 'OrderCount',
       'DaySinceLastOrder', 'CashbackAmount'],
      dtype='object')

## CustomerID

In [18]:
df['CustomerID'].nunique()

5630

In [19]:
df.drop(['CustomerID'],axis=1,inplace=True)

## Checking for null and duplicates

In [20]:
df.isnull().sum()

Churn                            0
Tenure                         264
PreferredLoginDevice             0
CityTier                         0
WarehouseToHome                251
PreferredPaymentMode             0
Gender                           0
HourSpendOnApp                 255
NumberOfDeviceRegistered         0
PreferedOrderCat                 0
SatisfactionScore                0
MaritalStatus                    0
NumberOfAddress                  0
Complain                         0
OrderAmountHikeFromlastYear    265
CouponUsed                     256
OrderCount                     258
DaySinceLastOrder              307
CashbackAmount                   0
dtype: int64

In [21]:
df.duplicated().sum()

556

In [22]:
#remove duplicates
df.drop_duplicates(inplace=True)

In [23]:
df.shape

(5074, 19)

## Tenure

In [24]:
df['Tenure'].value_counts()

Tenure
1.0     619
0.0     457
8.0     233
9.0     228
10.0    196
7.0     195
5.0     189
4.0     185
3.0     176
11.0    174
6.0     166
13.0    163
14.0    158
12.0    158
2.0     152
15.0    143
16.0    137
19.0    125
18.0    110
20.0     99
17.0     97
23.0     80
21.0     74
24.0     71
22.0     65
30.0     63
28.0     61
27.0     59
26.0     56
25.0     52
29.0     52
31.0     46
50.0      1
60.0      1
51.0      1
61.0      1
Name: count, dtype: int64

## Churn

In [25]:
df['Churn'].value_counts()

Churn
0    4233
1     841
Name: count, dtype: int64

## Preferred Login Device

In [26]:
df['PreferredLoginDevice'].value_counts()

PreferredLoginDevice
Mobile Phone    2515
Computer        1457
Phone           1102
Name: count, dtype: int64

In [27]:
# make mobile phone and phone as one phone
df['PreferredLoginDevice'].replace('Mobile Phone','Phone',inplace=True)

/var/folders/7w/qs77cz_11630n9gydm61vjpc0000gn/T/ipykernel_60841/3345489733.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PreferredLoginDevice'].replace('Mobile Phone','Phone',inplace=True)

## CityTier

In [28]:
df['CityTier'].value_counts()

CityTier
1    3306
3    1573
2     195
Name: count, dtype: int64

In [29]:
# combine city tier 3 and 2 as 2
df['CityTier'].replace(3,2,inplace=True)

/var/folders/7w/qs77cz_11630n9gydm61vjpc0000gn/T/ipykernel_60841/3465331841.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CityTier'].replace(3,2,inplace=True)

## WarehouseToHome

In [30]:
df['WarehouseToHome'].describe()

count    4853.000000
mean       15.546260
std         8.598909
min         5.000000
25%         9.000000
50%        13.000000
75%        20.000000
max       127.000000
Name: WarehouseToHome, dtype: float64

## PreferredPaymentMode

In [31]:
df['PreferredPaymentMode'].value_counts()

PreferredPaymentMode
Debit Card          2099
Credit Card         1348
E wallet             562
UPI                  360
COD                  322
CC                   248
Cash on Delivery     135
Name: count, dtype: int64

In [32]:
# replace cash on delivery with COD
df['PreferredPaymentMode'].replace('Cash on Delivery', 'COD', inplace=True)
# replace credit card with CC
df['PreferredPaymentMode'].replace('Credit Card', 'CC', inplace=True)

/var/folders/7w/qs77cz_11630n9gydm61vjpc0000gn/T/ipykernel_60841/230044073.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PreferredPaymentMode'].replace('Cash on Delivery', 'COD', inplace=True)
/var/folders/7w/qs77cz_11630n9gydm61vjpc0000gn/T/ipykernel_60841/230044073.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PreferredPaymentMode'].replace('Credit Card', 'CC', inplace=True)

In [33]:
df['PreferredPaymentMode'].value_counts()

PreferredPaymentMode
Debit Card    2099
CC            1596
E wallet       562
COD            457
UPI            360
Name: count, dtype: int64

In [34]:
df.isnull().sum()

Churn                            0
Tenure                         231
PreferredLoginDevice             0
CityTier                         0
WarehouseToHome                221
PreferredPaymentMode             0
Gender                           0
HourSpendOnApp                 230
NumberOfDeviceRegistered         0
PreferedOrderCat                 0
SatisfactionScore                0
MaritalStatus                    0
NumberOfAddress                  0
Complain                         0
OrderAmountHikeFromlastYear    252
CouponUsed                     210
OrderCount                     243
DaySinceLastOrder              288
CashbackAmount                   0
dtype: int64

## gender

In [35]:
df['Gender'].value_counts()

Gender
Male      3048
Female    2026
Name: count, dtype: int64

## HourSpendOnApp

In [36]:
df['HourSpendOnApp'].value_counts()

HourSpendOnApp
3.0    2415
2.0    1332
4.0    1058
1.0      33
0.0       3
5.0       3
Name: count, dtype: int64

## NumberOfDeviceRegistered

In [37]:
df['NumberOfDeviceRegistered'].value_counts()

NumberOfDeviceRegistered
4    2135
3    1522
5     799
2     255
1     217
6     146
Name: count, dtype: int64

## PreferedOrderCat

In [38]:
df['PreferedOrderCat'].value_counts()

PreferedOrderCat
Laptop & Accessory    1847
Mobile Phone          1130
Fashion                763
Mobile                 726
Grocery                366
Others                 242
Name: count, dtype: int64

In [39]:
# combine mobile and mobile phone
df['PreferedOrderCat'].replace('Mobile Phone', 'Mobile', inplace=True)

/var/folders/7w/qs77cz_11630n9gydm61vjpc0000gn/T/ipykernel_60841/2325662369.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PreferedOrderCat'].replace('Mobile Phone', 'Mobile', inplace=True)

## SatisfactionScore

In [40]:
df['SatisfactionScore'].value_counts()

SatisfactionScore
3    1505
1    1077
5     976
4     930
2     586
Name: count, dtype: int64

In [41]:
df['SatisfactionScore'].describe()

count    5074.000000
mean        3.027986
std         1.384493
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         5.000000
Name: SatisfactionScore, dtype: float64

## MaritalStatus

In [42]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married     2673
Single      1553
Divorced     848
Name: count, dtype: int64

In [43]:
# combine divorce and single as single
df['MaritalStatus'].replace('Divorced', 'Single', inplace=True)

/var/folders/7w/qs77cz_11630n9gydm61vjpc0000gn/T/ipykernel_60841/350613000.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['MaritalStatus'].replace('Divorced', 'Single', inplace=True)

## NumberOfAddress

In [44]:
df['NumberOfAddress'].describe()

count    5074.000000
mean        4.194521
std         2.578819
min         1.000000
25%         2.000000
50%         3.000000
75%         6.000000
max        22.000000
Name: NumberOfAddress, dtype: float64

In [45]:
df.columns

Index(['Churn', 'Tenure', 'PreferredLoginDevice', 'CityTier',
       'WarehouseToHome', 'PreferredPaymentMode', 'Gender', 'HourSpendOnApp',
       'NumberOfDeviceRegistered', 'PreferedOrderCat', 'SatisfactionScore',
       'MaritalStatus', 'NumberOfAddress', 'Complain',
       'OrderAmountHikeFromlastYear', 'CouponUsed', 'OrderCount',
       'DaySinceLastOrder', 'CashbackAmount'],
      dtype='object')

## Complain

In [46]:
df['Complain'].value_counts()

Complain
0    3640
1    1434
Name: count, dtype: int64

## OrderAmountHikeFromlastYear

In [47]:
df['OrderAmountHikeFromlastYear'].describe()

count    4822.000000
mean       15.714019
std         3.681655
min        11.000000
25%        13.000000
50%        15.000000
75%        18.000000
max        26.000000
Name: OrderAmountHikeFromlastYear, dtype: float64

## CouponUsed

In [48]:
df['CouponUsed'].describe()

count    4864.000000
mean        1.805921
std         1.946899
min         0.000000
25%         1.000000
50%         1.000000
75%         2.000000
max        16.000000
Name: CouponUsed, dtype: float64

## OrderCount

In [49]:
df['OrderCount'].describe()

count    4831.000000
mean        3.093562
std         2.995224
min         1.000000
25%         1.000000
50%         2.000000
75%         3.000000
max        16.000000
Name: OrderCount, dtype: float64

## DaySinceLastOrder

In [50]:
df['DaySinceLastOrder'].describe()

count    4786.000000
mean        4.581906
std         3.662581
min         0.000000
25%         2.000000
50%         3.000000
75%         7.000000
max        46.000000
Name: DaySinceLastOrder, dtype: float64

## Cashbackamount

In [51]:
df['CashbackAmount'].describe()

count    5074.000000
mean      177.639450
std        49.385904
min         0.000000
25%       145.915000
50%       163.870000
75%       197.950000
max       324.990000
Name: CashbackAmount, dtype: float64

In [52]:
df.columns=df.columns.str.lower()

In [53]:
from sklearn.model_selection import train_test_split

# First split into train and temp (75:25)
train_df, temp_df = train_test_split(df, test_size=0.20, stratify=df['churn'], random_state=42)

# Split temp into test and val (50:50 of remaining 25%) 
test_df, val_df = train_test_split(temp_df, test_size=0.5, stratify=temp_df['churn'], random_state=42)

# Verify sizes
print(f"Train set size: {len(train_df)} ({len(train_df)/len(df)*100:.1f}%)")
print(f"Test set size: {len(test_df)} ({len(test_df)/len(df)*100:.1f}%)")
print(f"Val set size: {len(val_df)} ({len(val_df)/len(df)*100:.1f}%)")

# Verify class distributions
print("\nChurn distribution:")
print("Train:", train_df['churn'].value_counts(normalize=True).round(3))
print("Test:", test_df['churn'].value_counts(normalize=True).round(3))
print("Val:", val_df['churn'].value_counts(normalize=True).round(3))

Train set size: 4059 (80.0%)
Test set size: 507 (10.0%)
Val set size: 508 (10.0%)

Churn distribution:
Train: churn
0    0.834
1    0.166
Name: proportion, dtype: float64
Test: churn
0    0.834
1    0.166
Name: proportion, dtype: float64
Val: churn
0    0.835
1    0.165
Name: proportion, dtype: float64

In [54]:
# save the train,test and val into the data folder
train_df.to_csv('../data/train.csv', index=False)
test_df.to_csv('../data/test.csv', index=False)
val_df.to_csv('../data/val.csv', index=False)